<div class = "jumbotron center">
  <h1>welcome to my app</h1>

<p>
  <%= link_to "Log in","#" , class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up","#" , class: "btn btn-primary btn-lg" %>
</p>

</div>

<p>Find me in app/views/pages/home.html.erb</p>
