<div class = "jumbotron">
  <h1>welcome to my app</h1>

<p> click here to  <%= link_to "sign up","https://www.google.co.in" ,class: "btn btn-primary btn-lg" %> </p>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
