
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


$body-bg : #1abc9c;
$font-family-sans-serif: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-default-bg :#e74c3c;
$navbar-default-link-color : #ffffff;
$brand-primary : #e74c3c;
$jumbotron-bg : #e74c3c;

@import 'bootstrap';

.center {
  text-align :center;
}

.navbar-brand {
  font-weight :bold;
}
